* {
    margin: 0;

}

h1 {
    background-color: rgb(214, 142, 154);
    padding: 2%;
    font-size: 1.5rem;
    
}

nav {
    font-size: 1.0rem;
    display: inline;
    word-spacing: 1.75em;
    padding-left: 5%;
}

.middleSection, .bottomSection {
box-sizing: border-box;
border: 4px black dotted;
padding: 3%;
margin: 1%;
}

h2 {
    font-size: 1.0rem;
}

#htmlImg {
    float: left;
    height: 20vh;
}

#css3Logo {
    float: right;
    height: 20vh;
  
}

p {
    font-size: 12px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif
}